/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header{
		.first-image{
		}
		.hidden-mnu {
			.logo {
				margin: 40px 0 10px;
			}
		}
		.phone {
			position: fixed;
			bottom: 5%;
			left: 50%;
		}
	}

}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header{
		.first-image{
			background-position: 40% 30%;
			min-height: 50vh;
		}
		.hidden-mnu{
			.logo{
				//margin: 40px 0 10px;
			}
			ul{
				margin: 25px 0 35px;
			}
			a{
				i{
					margin-bottom: 15px;
				}
			}
		}
		.fixed-line{
			.center-multilanguage{
				//margin: 0 20%;
				//float: left;
			}
		}
		.phone {
			position: fixed;
			bottom: -1%;
			left: 55%;
		}
	}
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header{
		.hidden-mnu{
			ul{
				li{
					a{
					}
				}
			}
		}
		.fixed-line{
			.fixed-ln-left{
				.fixed-logo{
					img{
						margin-top: 3px;
						width: 135px;
					}
				}
			}
			.center-multilanguage{
				//margin: 0 9%;
				//float: left;
			}
		}
		.phone {
			position: fixed;
			bottom: -1%;
			left: 59%;
		}
	}

}




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	header{
		.fixed-line{
			.center-multilanguage{
				//margin: 0 0;
				//float: left;
			}
		}
	}

}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}





/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}





/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	header{
		.fixed-line{
			.center-multilanguage{
				//margin: 0 30%;
				//float: left;
			}
		}
	}

}





/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}






/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


