$purple: #2D2C6E;
$light-purple: #ABABC5;
$darkpurple: /*#242356*/#222150;
$verydarkpurple: #0a0935;
$socialbttn: #57508c;
$coral: #d20000;
$light-grey: #e0e0e0;
$os-lgt: "OpenSans-Light", sans-serif;
$os-reg: "OpenSans-Regular", sans-serif;
$os-semb: "OpenSans-Semibold", sans-serif;


* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::-webkit-input-placeholder { color: #666; opacity: 1; }
*:-moz-placeholder { color: #666; opacity: 1; }
*::-moz-placeholder { color: #666; opacity: 1; }
*:-ms-input-placeholder { color: #666; opacity: 1; }

// start of multilanguage
/* Скрываем "не тот" язык */
.en .ru, .ru .en, .ua .en,
.en .ua, .ru .ua, .ua .ru
{
	display: none;
}
/* Переключалки языка */
.langmob-switcher,
.lang-switcher {
	//border-bottom: 1px solid;
	cursor: pointer;
	color: #fff;
	text-transform: lowercase;
	transition: all .25s ease;
}
.langmob-switcher:hover,
.lang-switcher:hover {
	color: #fff;
}
/* Выделяем активную переключалку тоже с помощью классов родителя */
.en .langmob-switcher--en,
.ru .langmob-switcher--ru,
.ua .langmob-switcher--ua,
.en .lang-switcher--en,
.ru .lang-switcher--ru,
.ua .lang-switcher--ua {
	color: #fff;
	border-bottom: none;
	font-weight: bold;
	cursor: default;
	border-bottom: 1px solid #fff;
}
// end of multilanguage

//.active {
//	color: #fff;
//	background-color: #fff;
//}

body {
	position: relative;
	min-width: 320px;
	background-color: #fff;
	font-size: 16px;
	font-family: $os-reg;
	line-height: 19px;
	font-weight: normal;
	font-style: normal;
}
p{
	font-size: 16px;
}
input{
	font-size: 16px !important;
}

span,a, p, ul {
	font-size: 16px;
	font-family: $os-reg;
	color: $darkpurple;
	font-weight: normal;
	line-height: 19px;
	font-style: normal;
}
h1{
	color: $purple;
	font-family: $os-semb;
	line-height: 19px;
	font-weight: normal;
	font-style: normal;
}
h3 {
	color: $purple;
	font-family: $os-reg;
	line-height: 19px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 10px;
}

//.container{
//	//max-width: 940px;
//	margin: 0 10px 0 10px;
//}

header{
	.first-image{
		background-image: url("../img/first-image-fullhd.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 43vh;
		}

	//fixed-line
	.fixed-line{
		margin: 0 0;
		display: inline-block;
		background-color: $verydarkpurple;
		position: fixed;
		height: 52px;
		z-index: 999;
		top: 0;
		right: 0;
		left: 0;
		list-style: none;
		.fixed-ln-left{
			float: left;
			width: 33.33%;
			margin-left: 5px;
			a{
				img{
					height: 100%;
					width: 150px;
					transition: all .55s ease;
				}
				img:hover{
					filter: drop-shadow(0px 0px 7px white) drop-shadow(0px 0px 0 white);
				}
			}
		}
		.center-multilanguage{
			float: left;
			width: 33.33%;
			margin: 0 15px 0;
			text-align: center;
			.multilanguage-mob{
				margin: 15px auto 10px;
				span{
					margin: 0 5px;
				}
			}
		}
		.fixed-ln-right{
			float: left;
			width: 20%;
		}
	}
	//fixed-line
	//toggle!//toggle!//toggle!//toggle!
	.toggle-mnu {
		z-index: 999;
		position: fixed;
		display: block;
		width: 28px;
		height: 28px;
		margin-top: 15px;
		right: 10px;
		margin-right: 15px;
		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
			top: 9px;
		}
		span:after {
			top: 18px;
		}
		span {
			position: relative;
			display: block;
		}
		span,
		span:after,
		span:before {
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s;
			backface-visibility: hidden;
			border-radius: 2px;
		}
		&.on span {
			background-color: transparent;
		}
		&.on span:before {
			transform: rotate(45deg) translate(-1px, 0px);
		}
		&.on span:after {
			transform: rotate(-45deg) translate(6px, -7px);
		}
	}
	//toggle!//toggle!//toggle!//toggle!
	//SECOND MENU HIDDEN
	.hidden-mnu {
		z-index: 999;
		display: none;
		position: fixed;
		text-align: center;
		//background-color: #ececff;
		background-color: $verydarkpurple;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		overflow: scroll;
		.logo{
			a{
				img{
					max-height: 90px;
					z-index: 0;
					transition: all .55s ease;
				}
				img:hover{
					filter: drop-shadow(0px 0px 7px white) drop-shadow(0px 0px 0 white);
				}
			}
		}
		span{
			font-size: 15px;
			color: #fff;
		}
		ul{
			margin: 25px 0 50px;
			li{
				list-style: none;
				border-bottom: 1px solid #3f3969/*$purple*/;
				a{
					height: 50px;
					display: block;
					padding: 15px;
					color: #fff;
				}
				&:hover{
					transition: all .55s ease;
					background-color: #fff;
					color: $darkpurple;
				}
			}
			li:hover{
				a{
					color: $darkpurple;
					transition: all .55s ease;

				}
			}
			li:last-child{
				border-bottom: none;
			}

		}
		a{
			i{
				margin-bottom: 25px;
				margin-left: 5px;
				font-size: 27px;
				transition: all .25s ease;
			}
			//i:hover{
			//	color: #fff;
			//}
			.fb{
				//color: #3b5998;
				color: #fff;
				font-size: 21px;
				&:before{
					background-color: #3B5A9D;
					padding: 5px 11px;
					border-radius: 5px;
				}
				&:hover{
					color: #3B5A9D;
					&:before{
						background-color: #fff;
					}
				}
			}
			.ln{
				//color: #007bb5;
				color: #fff;
				font-size: 21px;
				&:before{
					background-color: #0077B5;
					padding: 5px 8px;
					border-radius: 5px;
				}
				&:hover{
					color: #0077B5;
					&:before{
						background-color: #fff;
					}
				}
			}
		}
		p{
			font-size: 15px;
			//color: $purple;
			color: #fff;
		}
		.adress-margin{
			margin-bottom: 7px;
		}
		.footer-hidden-mnu{
			padding-bottom: 75px;
		}
	}
	//SECOND MENU HIDDEN^^^
	.left-main-section{

	}
	.nav-menu{
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #0a0935;
		margin: 0 auto !important;
		height: 100vh;
		//background-color: #ececff;
		//padding: 0 25px;
		//overflow: scroll;
		.multilanguage{
			margin: 20px auto 10px;
			span{
				margin: 0 5px;
			}
		}
		.logo{
			//margin-top: 45px;
			margin: 15px 20px 15px;
			a{
				img{
					max-height: 90px;
					z-index: 0;
					transition: all .55s ease;
				}
				img:hover{
					filter: drop-shadow(0px 0px 7px #fff) drop-shadow(0px 0px 0 #fff);
				}
			}
		}
		span{
			font-size: 15px;
			color: #fff;
		}
		.main-nav-menu{
			font-family: "OpenSans-Regular", sans-serif;
			line-height: 19px;
			font-weight: normal;
			font-style: normal;
		}
		p{
			font-size: 15px;
			color: $purple;

		}
		.adress-margin{
			margin-bottom: 10px;
		}
		p:last-child{
			margin-bottom: 15px;
		}
		ul{
			margin: 25px 0 35px;
			li{
				list-style: none;
				border-bottom: 1px solid #3f3969;
				//padding: 15px 10px;
				left: 0;
				right: 0;
				a{
					height: 50px;
					display: block;
					padding: 15px;
					color: #fff;
				}
				&:hover{
					transition: all .55s ease;
					background-color: #fff;
				}
			}
			li:hover{
				a{
					color: $darkpurple;
					transition: all .55s ease;
				}
			}
			li:last-child{
				border-bottom: none;
			}

		}
		a{
			color: $purple;
			i{
				margin-bottom: 25px;
				margin-left: 5px;
				font-size: 27px;
				transition: all .25s ease;
			}
			//i:hover{
			//	color: #fff;
			//}
			.fb{
				//color: #3b5998;
				color: #fff;
				font-size: 21px;
				&:before{
					background-color: #3B5A9D;
					padding: 5px 11px;
					border-radius: 5px;
				}
				&:hover{
					color: #3B5A9D;
					&:before{
						background-color: #fff;
					}
				}
			 }
			.ln{
				//color: #007bb5;
				color: #fff;
				font-size: 21px;
				&:before{
					background-color: #0077B5;
					padding: 5px 8px;
					border-radius: 5px;
				}
				&:hover{
					color: #0077B5;
					&:before{
						background-color: #fff;
					}
				}
			}
		}
		p{
			color: #fff;
		}

		.nav-p{
			color: $purple;
		}
	}

	.aboutus-section{
		//border-bottom: 3px solid $darkpurple;
		margin-top: 50px;
		p{
			text-align: justify;
		}

	}
	.aboutus-section:after,
	.services-section:after{
		content: "";
		margin: 35px auto 15px;
		//opacity: 0.7;
		overflow: hidden;
		border: 1px solid $darkpurple;
		border-radius: 155px;
		display: block;
	}

	.services-section{
		position: relative;
		p{
			text-align: justify;
		}
		ul{
			text-align: justify;
			list-style-type: disc;
			margin-left: 1.25em;
		}
		.wrapper-left-icons{
			margin: 15px 0 15px;
			.left-icons{
				float: left;
				margin: 5px 5px 5px 15px;
				font-size: 37px;
				//color: $purple;
				color: #fff;
				&:before{
					background-color: $purple;
					padding: 7px;
					border-radius: 11px;
				}
			}
		}
		.service {
			margin-bottom: 15px;
			border-radius: 15px;
			max-width: 425px;
			transition: all .3s ease;
			//border: 1px solid $light-grey;
			//box-shadow: 0 3px 11px 1px rgba(0, 0, 0, 0.15);
			cursor: pointer;

			h3{
				float: left;
				margin: 10px 5px 5px 15px;
			}
			.fa-angle-down{
				float: right;
				margin: 15px 15px 0;
				font-size: 17px;
				color: $purple;
			}
			.fa-angle-up{
				display: block;
				float: right;
				margin: 15px 15px 0;
				font-size: 17px;
				color: $purple;
			}
			//&:hover{
			//	box-shadow: none;
			//}
		}
		.service-text {
			display: none;
			margin-left: 20px;
			ul{
				margin-left: 20px;
			}
		}

	}

	//callback//callback//callback
	.write-us{
		margin-bottom: 35px;
		.pop_form {
			padding: 0 0 5px;
			transition: all .5s ease;
			//input{
			//	box-shadow: inset 0 1px 6px;
			//}
			.button, .reset {
				display: inline-block;
				text-align: center;
				margin: 35px auto 0;
				max-width: 220px;
				background-color: $purple;
				padding: 7px 25px;
				color: #fff;
				transition: all .55s ease;
				border: none;
				border-radius: 10px;
				margin-right: 25px;
				//a {
				//	outline: none;
				//	color: #fff;
				//}
			}
			.button:hover, .reset:hover {
				background-color: $purple;
				box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
			}
			textarea[type="text"]{
				height: 150px;
				width: 300px;
				padding: 7px 15px;
				border: 1px solid $light-grey;
				margin-bottom: 10px;
				border-radius: 5px;
				outline: none;
			}
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border: 1px solid $light-grey;
				margin-bottom: 10px;
				height: 35px;
				padding: 0 15px;
				border-radius: 5px;
				outline: none;
			}
			input[name="message"]{
				//padding: 55px 55px;
				overflow: hidden;
				text-overflow: ellipsis

			}
			textarea[type="text"]:focus,
			input[type="text"]:focus,
			input[type="tel"]:focus,
			input[type="email"]:focus {
				border: 2px solid $light-grey;
			}
			textarea:focus:required:invalid,
			input:focus:required:invalid {
				border: 1px solid #ff0000;
			}

			textarea:focus:required:valid,
			input:focus:required:valid {
				border: 1px solid #2dab45;
			}
		}

	}
	//callback//callback//callback

	//phone//phone//phone
	.phone{
		position: fixed;
		bottom: 5%;
		left: 29%;
		width: 50%;
		a{
			.img-circle{
				.img-circleblock{
					i{
						border: 1px solid $purple;
						border-radius: 50px;
						padding: 14px;
						width: 50px;
						height: 50px;
						font-size: 25px;
						background-color: $purple;
						color: #fff;
						margin: 10px;
					}
				}
			}
		}
	}
	#popup__toggle{bottom:25px;right:20%;position:fixed;}
	.img-circle{background-color:$socialbttn;box-sizing:content-box;-webkit-box-sizing:content-box;}
	.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid $socialbttn;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
	.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:$socialbttn;width:100px;height:100px;bottom:0;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
	.img-circle{
		box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;
		//transition
		transition: all .25s ease;
		//transition
	}
	.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
	.img-circle:hover{
		opacity: 1;
	}
	@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
		50% {transform: scale(1); opacity: 1; }
		100% {transform: scale(0.9);opacity: 1;}}
	@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
		50% {-webkit-transform: scale(1);opacity: 1;}
		100% {-webkit-transform: scale(0.95);opacity: 1;}}
	@keyframes tossing {
		0% {transform: rotate(-8deg);}
		50% {transform: rotate(8deg);}
		100% {transform: rotate(-8deg);}}
	@-webkit-keyframes tossing {
		0% {-webkit-transform: rotate(-8deg);}
		50% {-webkit-transform: rotate(8deg);}
		100% {-webkit-transform: rotate(-8deg);}}
	@-moz-keyframes circle-anim {
		0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
		30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
		100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
	@-webkit-keyframes circle-anim {
		0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
		30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
		100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
	@-o-keyframes circle-anim {
		0% {-o-transform: rotate(0deg) scale(0.5) skew(1deg);-o-opacity: .1;}
		30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
		100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
	@keyframes circle-anim {
		0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
		30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
		100% {transform: rotate(0deg) scale(1) skew(1deg);
			opacity: .1;}}
	@-moz-keyframes circle-fill-anim {
		0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
		50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
		100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@-webkit-keyframes circle-fill-anim {
		0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
		50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
		100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@-o-keyframes circle-fill-anim {
		0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
		50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
		100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	@keyframes circle-fill-anim {
		0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
		50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
		100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
	//phone//phone//phone
}
//callback
	.pop-phone{
		text-align: center;
		padding: 0 0 5px;
		transition: all .5s ease;
		.pop-h3{
			margin: 15px auto 0;
		}
		.pop-p{
			margin: 15px auto;
			font-size: 14px;
			color: #95979c;
		}
		input{
			//max-width: 300px;
		}
		.button{
			display: block;
			text-align: center;
			margin: 0 auto;
			max-width: 220px;
			background-color: $purple;
			padding: 7px 25px;
			color: #fff;
			transition: all .55s ease;
			border: none;
			border-radius: 10px;
			//margin-right: 25px;
			//a {
			//	outline: none;
			//	color: #fff;
			//}
		}
		.button:hover {
			background-color: $purple;
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
		}
		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			border: 1px solid $light-grey;
			margin-bottom: 15px;
			height: 35px;
			padding: 0 15px;
			border-radius: 5px;
			outline: none;
		}
		input[type="text"]:focus,
		input[type="tel"]:focus,
		input[type="email"]:focus {
			border: 2px solid $light-grey;
		}
		input:focus:required:invalid {
			border: 1px solid #ff0000;
		}

		input:focus:required:valid {
			border: 1px solid #2dab45;
		}
}
//callback

//for JS
.scrolloff{
	overflow: hidden;
}
.scrollon{
	overflow: scroll;
}
.service-shadow{
	box-shadow: none;
}
//for JS
