@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

/* ╨б╨║╤А╤Л╨▓╨░╨╡╨╝ "╨╜╨╡ ╤В╨╛╤В" ╤П╨╖╤Л╨║ */
.en .ru, .ru .en, .ua .en,
.en .ua, .ru .ua, .ua .ru {
  display: none; }

/* ╨Я╨╡╤А╨╡╨║╨╗╤О╤З╨░╨╗╨║╨╕ ╤П╨╖╤Л╨║╨░ */
.langmob-switcher,
.lang-switcher {
  cursor: pointer;
  color: #fff;
  text-transform: lowercase;
  transition: all .25s ease; }

.langmob-switcher:hover,
.lang-switcher:hover {
  color: #fff; }

/* ╨Т╤Л╨┤╨╡╨╗╤П╨╡╨╝ ╨░╨║╤В╨╕╨▓╨╜╤Г╤О ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╨╗╨║╤Г ╤В╨╛╨╢╨╡ ╤Б ╨┐╨╛╨╝╨╛╤Й╤М╤О ╨║╨╗╨░╤Б╤Б╨╛╨▓ ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П */
.en .langmob-switcher--en,
.ru .langmob-switcher--ru,
.ua .langmob-switcher--ua,
.en .lang-switcher--en,
.ru .lang-switcher--ru,
.ua .lang-switcher--ua {
  color: #fff;
  border-bottom: none;
  font-weight: bold;
  cursor: default;
  border-bottom: 1px solid #fff; }

body {
  position: relative;
  min-width: 320px;
  background-color: #fff;
  font-size: 16px;
  font-family: "OpenSans-Regular", sans-serif;
  line-height: 19px;
  font-weight: normal;
  font-style: normal; }

p {
  font-size: 16px; }

input {
  font-size: 16px !important; }

span, a, p, ul {
  font-size: 16px;
  font-family: "OpenSans-Regular", sans-serif;
  color: #222150;
  font-weight: normal;
  line-height: 19px;
  font-style: normal; }

h1 {
  color: #2D2C6E;
  font-family: "OpenSans-Semibold", sans-serif;
  line-height: 19px;
  font-weight: normal;
  font-style: normal; }

h3 {
  color: #2D2C6E;
  font-family: "OpenSans-Regular", sans-serif;
  line-height: 19px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px; }

header .first-image {
  background-image: url("../img/first-image-fullhd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 43vh; }
header .fixed-line {
  margin: 0 0;
  display: inline-block;
  background-color: #0a0935;
  position: fixed;
  height: 52px;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  list-style: none; }
  header .fixed-line .fixed-ln-left {
    float: left;
    width: 33.33%;
    margin-left: 5px; }
    header .fixed-line .fixed-ln-left a img {
      height: 100%;
      width: 150px;
      transition: all .55s ease; }
    header .fixed-line .fixed-ln-left a img:hover {
      filter: drop-shadow(0px 0px 7px white) drop-shadow(0px 0px 0 white); }
  header .fixed-line .center-multilanguage {
    float: left;
    width: 33.33%;
    margin: 0 15px 0;
    text-align: center; }
    header .fixed-line .center-multilanguage .multilanguage-mob {
      margin: 15px auto 10px; }
      header .fixed-line .center-multilanguage .multilanguage-mob span {
        margin: 0 5px; }
  header .fixed-line .fixed-ln-right {
    float: left;
    width: 20%; }
header .toggle-mnu {
  z-index: 999;
  position: fixed;
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 15px;
  right: 10px;
  margin-right: 15px; }
  header .toggle-mnu span:after,
  header .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  header .toggle-mnu span:after {
    top: 18px; }
  header .toggle-mnu span {
    position: relative;
    display: block; }
  header .toggle-mnu span,
  header .toggle-mnu span:after,
  header .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  header .toggle-mnu.on span {
    background-color: transparent; }
  header .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px); }
  header .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px); }
header .hidden-mnu {
  z-index: 999;
  display: none;
  position: fixed;
  text-align: center;
  background-color: #0a0935;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: scroll; }
  header .hidden-mnu .logo a img {
    max-height: 90px;
    z-index: 0;
    transition: all .55s ease; }
  header .hidden-mnu .logo a img:hover {
    filter: drop-shadow(0px 0px 7px white) drop-shadow(0px 0px 0 white); }
  header .hidden-mnu span {
    font-size: 15px;
    color: #fff; }
  header .hidden-mnu ul {
    margin: 25px 0 50px; }
    header .hidden-mnu ul li {
      list-style: none;
      border-bottom: 1px solid #3f3969; }
      header .hidden-mnu ul li a {
        height: 50px;
        display: block;
        padding: 15px;
        color: #fff; }
      header .hidden-mnu ul li:hover {
        transition: all .55s ease;
        background-color: #fff;
        color: #222150; }
    header .hidden-mnu ul li:hover a {
      color: #222150;
      transition: all .55s ease; }
    header .hidden-mnu ul li:last-child {
      border-bottom: none; }
  header .hidden-mnu a i {
    margin-bottom: 25px;
    margin-left: 5px;
    font-size: 27px;
    transition: all .25s ease; }
  header .hidden-mnu a .fb {
    color: #fff;
    font-size: 21px; }
    header .hidden-mnu a .fb:before {
      background-color: #3B5A9D;
      padding: 5px 11px;
      border-radius: 5px; }
    header .hidden-mnu a .fb:hover {
      color: #3B5A9D; }
      header .hidden-mnu a .fb:hover:before {
        background-color: #fff; }
  header .hidden-mnu a .ln {
    color: #fff;
    font-size: 21px; }
    header .hidden-mnu a .ln:before {
      background-color: #0077B5;
      padding: 5px 8px;
      border-radius: 5px; }
    header .hidden-mnu a .ln:hover {
      color: #0077B5; }
      header .hidden-mnu a .ln:hover:before {
        background-color: #fff; }
  header .hidden-mnu p {
    font-size: 15px;
    color: #fff; }
  header .hidden-mnu .adress-margin {
    margin-bottom: 7px; }
  header .hidden-mnu .footer-hidden-mnu {
    padding-bottom: 75px; }
header .nav-menu {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0a0935;
  margin: 0 auto !important;
  height: 100vh; }
  header .nav-menu .multilanguage {
    margin: 20px auto 10px; }
    header .nav-menu .multilanguage span {
      margin: 0 5px; }
  header .nav-menu .logo {
    margin: 15px 20px 15px; }
    header .nav-menu .logo a img {
      max-height: 90px;
      z-index: 0;
      transition: all .55s ease; }
    header .nav-menu .logo a img:hover {
      filter: drop-shadow(0px 0px 7px #fff) drop-shadow(0px 0px 0 #fff); }
  header .nav-menu span {
    font-size: 15px;
    color: #fff; }
  header .nav-menu .main-nav-menu {
    font-family: "OpenSans-Regular", sans-serif;
    line-height: 19px;
    font-weight: normal;
    font-style: normal; }
  header .nav-menu p {
    font-size: 15px;
    color: #2D2C6E; }
  header .nav-menu .adress-margin {
    margin-bottom: 10px; }
  header .nav-menu p:last-child {
    margin-bottom: 15px; }
  header .nav-menu ul {
    margin: 25px 0 35px; }
    header .nav-menu ul li {
      list-style: none;
      border-bottom: 1px solid #3f3969;
      left: 0;
      right: 0; }
      header .nav-menu ul li a {
        height: 50px;
        display: block;
        padding: 15px;
        color: #fff; }
      header .nav-menu ul li:hover {
        transition: all .55s ease;
        background-color: #fff; }
    header .nav-menu ul li:hover a {
      color: #222150;
      transition: all .55s ease; }
    header .nav-menu ul li:last-child {
      border-bottom: none; }
  header .nav-menu a {
    color: #2D2C6E; }
    header .nav-menu a i {
      margin-bottom: 25px;
      margin-left: 5px;
      font-size: 27px;
      transition: all .25s ease; }
    header .nav-menu a .fb {
      color: #fff;
      font-size: 21px; }
      header .nav-menu a .fb:before {
        background-color: #3B5A9D;
        padding: 5px 11px;
        border-radius: 5px; }
      header .nav-menu a .fb:hover {
        color: #3B5A9D; }
        header .nav-menu a .fb:hover:before {
          background-color: #fff; }
    header .nav-menu a .ln {
      color: #fff;
      font-size: 21px; }
      header .nav-menu a .ln:before {
        background-color: #0077B5;
        padding: 5px 8px;
        border-radius: 5px; }
      header .nav-menu a .ln:hover {
        color: #0077B5; }
        header .nav-menu a .ln:hover:before {
          background-color: #fff; }
  header .nav-menu p {
    color: #fff; }
  header .nav-menu .nav-p {
    color: #2D2C6E; }
header .aboutus-section {
  margin-top: 50px; }
  header .aboutus-section p {
    text-align: justify; }
header .aboutus-section:after,
header .services-section:after {
  content: "";
  margin: 35px auto 15px;
  overflow: hidden;
  border: 1px solid #222150;
  border-radius: 155px;
  display: block; }
header .services-section {
  position: relative; }
  header .services-section p {
    text-align: justify; }
  header .services-section ul {
    text-align: justify;
    list-style-type: disc;
    margin-left: 1.25em; }
  header .services-section .wrapper-left-icons {
    margin: 15px 0 15px; }
    header .services-section .wrapper-left-icons .left-icons {
      float: left;
      margin: 5px 5px 5px 15px;
      font-size: 37px;
      color: #fff; }
      header .services-section .wrapper-left-icons .left-icons:before {
        background-color: #2D2C6E;
        padding: 7px;
        border-radius: 11px; }
  header .services-section .service {
    margin-bottom: 15px;
    border-radius: 15px;
    max-width: 425px;
    transition: all .3s ease;
    cursor: pointer; }
    header .services-section .service h3 {
      float: left;
      margin: 10px 5px 5px 15px; }
    header .services-section .service .fa-angle-down {
      float: right;
      margin: 15px 15px 0;
      font-size: 17px;
      color: #2D2C6E; }
    header .services-section .service .fa-angle-up {
      display: block;
      float: right;
      margin: 15px 15px 0;
      font-size: 17px;
      color: #2D2C6E; }
  header .services-section .service-text {
    display: none;
    margin-left: 20px; }
    header .services-section .service-text ul {
      margin-left: 20px; }
header .write-us {
  margin-bottom: 35px; }
  header .write-us .pop_form {
    padding: 0 0 5px;
    transition: all .5s ease; }
    header .write-us .pop_form .button, header .write-us .pop_form .reset {
      display: inline-block;
      text-align: center;
      margin: 35px auto 0;
      max-width: 220px;
      background-color: #2D2C6E;
      padding: 7px 25px;
      color: #fff;
      transition: all .55s ease;
      border: none;
      border-radius: 10px;
      margin-right: 25px; }
    header .write-us .pop_form .button:hover, header .write-us .pop_form .reset:hover {
      background-color: #2D2C6E;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75); }
    header .write-us .pop_form textarea[type="text"] {
      height: 150px;
      width: 300px;
      padding: 7px 15px;
      border: 1px solid #e0e0e0;
      margin-bottom: 10px;
      border-radius: 5px;
      outline: none; }
    header .write-us .pop_form input[type="text"],
    header .write-us .pop_form input[type="tel"],
    header .write-us .pop_form input[type="email"] {
      border: 1px solid #e0e0e0;
      margin-bottom: 10px;
      height: 35px;
      padding: 0 15px;
      border-radius: 5px;
      outline: none; }
    header .write-us .pop_form input[name="message"] {
      overflow: hidden;
      text-overflow: ellipsis; }
    header .write-us .pop_form textarea[type="text"]:focus,
    header .write-us .pop_form input[type="text"]:focus,
    header .write-us .pop_form input[type="tel"]:focus,
    header .write-us .pop_form input[type="email"]:focus {
      border: 2px solid #e0e0e0; }
    header .write-us .pop_form textarea:focus:required:invalid,
    header .write-us .pop_form input:focus:required:invalid {
      border: 1px solid #ff0000; }
    header .write-us .pop_form textarea:focus:required:valid,
    header .write-us .pop_form input:focus:required:valid {
      border: 1px solid #2dab45; }
header .phone {
  position: fixed;
  bottom: 5%;
  left: 29%;
  width: 50%; }
  header .phone a .img-circle .img-circleblock i {
    border: 1px solid #2D2C6E;
    border-radius: 50px;
    padding: 14px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #2D2C6E;
    color: #fff;
    margin: 10px; }
header #popup__toggle {
  bottom: 25px;
  right: 20%;
  position: fixed; }
header .img-circle {
  background-color: #57508c;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }
header .circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #57508c;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }
header .circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #57508c;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 35px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }
header .img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  transition: all .25s ease; }
header .img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }
header .img-circle:hover {
  opacity: 1; }
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }
@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg); } }
@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1; }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5; }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1; } }
@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1; } }
@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.5) skew(1deg);
    -o-opacity: .1; }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5; }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1; } }
@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1; } }
@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
.pop-phone {
  text-align: center;
  padding: 0 0 5px;
  transition: all .5s ease; }
  .pop-phone .pop-h3 {
    margin: 15px auto 0; }
  .pop-phone .pop-p {
    margin: 15px auto;
    font-size: 14px;
    color: #95979c; }
  .pop-phone .button {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 220px;
    background-color: #2D2C6E;
    padding: 7px 25px;
    color: #fff;
    transition: all .55s ease;
    border: none;
    border-radius: 10px; }
  .pop-phone .button:hover {
    background-color: #2D2C6E;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75); }
  .pop-phone input[type="text"],
  .pop-phone input[type="tel"],
  .pop-phone input[type="email"] {
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    outline: none; }
  .pop-phone input[type="text"]:focus,
  .pop-phone input[type="tel"]:focus,
  .pop-phone input[type="email"]:focus {
    border: 2px solid #e0e0e0; }
  .pop-phone input:focus:required:invalid {
    border: 1px solid #ff0000; }
  .pop-phone input:focus:required:valid {
    border: 1px solid #2dab45; }

.scrolloff {
  overflow: hidden; }

.scrollon {
  overflow: scroll; }

.service-shadow {
  box-shadow: none; }

/*# sourceMappingURL=screen.css.map */
